body {
  background-color: #262626;
}


img {
  width: 90vw; 
  height: 90vw; 
  margin-top: 10rem;
}

.main, p, a {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.5rem;
}

.main td, p, a {
  color: #FFEF77;
  animation: pulse 5s infinite;
}

h2 {
  color: #FF5DB1;
  background-color: #36BBCC;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0;
  animation: pulse 8s infinite;
}

@keyframes pulse {
  0% {
    color: #FF5DB1;
  }
  25% {
    color: #9277FF;
  }
  50% {
    color: #FFEF77;
  }
  75% {
    color: #5841B2;
  }
  100% {
    color: #FF5DB1;
  }
}

p{
  color: #FFEF77;
  position: fixed;
  bottom: 0;
}